{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}


<div class="login-box">

    <div class="login-title">
        <h3>Reset password</h3>
    </div>

    <div class="reset-email-instruction">
        <p>Enter email address to reset password</p>
    </div>

    <form method="post">
        {% csrf_token %}

        <div>
            {{form.email}}
        </div>

        <div class="login-error">
            {% for feild in form %}
                {% for error in feild.errors %}
                    <p class="register-error">{{error|escape}}</p>
                {% endfor %}
            {% endfor %}
        </div>

        <div>
            <button type="submit" class="login-button">Send email</button>
        </div>
    </form>

    <div>
        <a href="{% url 'loginpage' %}">
            <button class="login-button">Cancel</button>
        </a>
    </div>

</div>

{% endblock %}
