{% extends 'base.html' %}

{% block title %}Change email{% endblock %}

{% block content %}

<div class="login-box">

    <div class="login-title">
        <h3>Reset password</h3>
    </div>

    {% if validlink  %}
        <form method="post">
            {% csrf_token %}

            {{form.new_password1}}
            {{form.new_password2}}

        <div class="login-error">
            {% for feild in form %}
                {% for error in feild.errors %}
                    <p class="register-error">{{error|escape}}</p>
                {% endfor %}
            {% endfor %}
        </div>

        <div>
            <button type="submit" class="login-button">Change password</button>
        </div>

        </form>
    
    {% else %}

        <div class="email-sent-message">
            <span class="email-reset-text">Password reset link has expired</span>
        </div>
            
    {% endif %}

</div>

{% endblock %}
