{% extends 'base.html' %}

{% block title %}Change email{% endblock %}

{% block content %}

<div class="reset-password-box">

    <div class="login-title">
        <h3>Reset password</h3>
    </div>

    <form method="post">
        {% csrf_token %}

        {{form.old_password}}
        {{form.new_password1}}
        {{form.new_password2}}

    <div class="login-error">
        {% for feild in form %}
            {% for error in feild.errors %}
                <p class="register-error">{{error|escape}}</p>
            {% endfor %}
        {% endfor %}
    </div>

    <div>
        <button type="submit" class="login-button">Change password</button>
    </div>

    </form>

    <div>
        <a href="{% url 'trakerhome' %}">
            <button class="login-button">Cancel</button>
        </a>
    </div>

</div>

{% endblock %}
