{% extends 'base.html' %}
{% load static %}

{% block title %}Static Analysis{% endblock %}

{% block header %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<!-- Chart Scripts -->
<script src="{% static 'jarvascript/speaks_graph.js' %}" defer></script>

<!-- Data -->
{{ position_speak_avg|json_script:"position_speak_avg" }}
{{ grouped_position_avg|json_script:"grouped_position_avg" }}
{{ room_points_avg|json_script:"room_points_avg" }}
{{ partner_avg|json_script:"partner_avg" }}
{{ motion_avg|json_script:"motion_avg" }}
{{ full_data_list|json_script:"full_data_list"}}

<style>
.no-data {
    color: #888;
    font-style: italic;
}
</style>
{% endblock %}

{% block content %}

<div class="page-title">
    <h1>Static Analysis</h1>
</div>

<!-- Speaker Position -->
<div class="table-title">
    <h3 class="inline-h3">Speaker position</h3>
</div>

<div class="speaks-table-body-anlsis">
    {% if position_speak_avg is not None %}
        <table class="speaks-table">
            <tr>
                <th>Position</th>
                <th>No.</th>
                <th>Spk.</th>
                <th>Pts.</th>
            </tr>
            {% for value in position_speak_avg.values %}
                <tr class="data-row">
                    {% for item in value %}
                        <td>{{item}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        <div class="graph-box" id="speaker-positon-bar">
            <canvas id="speaker_postion_chart"></canvas>
        </div>

        <div class="graph-box-scatter" id="speaker-positon-scatter">
            <canvas id="speaker_postion_scatter"></canvas>
        </div>
    {% else %}
        <div class="no-data">
            <h3>No data to show</h3>
        </div>
    {% endif %}

    <div class="clear-float"></div>
</div>
<div class="change-graph-box">
    {% if position_speak_avg is not None %}
        <button class="change-graph-button" onclick="togleGraph('speaker-positon-bar','speaker-positon-scatter','position-dropdown')">
            show vs time
        </button>

        <select class="graph-dropdown" id="position-dropdown">
            {% for value in position_speak_avg.values %}
                <option value="{{value.0}}">{{value.0}}</option>
            {% endfor %}
        </select>
    {% endif %}
</div>

<!-- Position Groups -->
<div class="table-title">
    <h3 class="inline-h3">Position groups</h3>
</div>

<div class="speaks-table-body-anlsis">
    {% if grouped_position_avg is not None %}
        <table class="speaks-table">
            <tr>
                <th>Position</th>
                <th>No.</th>
                <th>Spk.</th>
                <th>Pts.</th>
            </tr>

            {% for value in grouped_position_avg.values %}
            <tr class="data-row">
                {% for item in value %}
                    <td>{{item}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <div class="graph-box" id="speaker-group-bar">
            <canvas id="position_grouped_chart"></canvas>
        </div>

        <div class="graph-box-scatter" id="speaker-group-scatter">
            <canvas id="position_grouped_scatter"></canvas>
        </div>
    {% else %}
        <div class="no-data">
            <h3>No data to show</h3>
        </div>
    {% endif %}

    <div class="clear-float"></div>
</div>
<div class="change-graph-box">
    {% if position_speak_avg is not None %}
        <button class="change-graph-button" onclick="togleGraph('speaker-group-bar','speaker-group-scatter','position-grouped-dropdown')">
            show vs time
        </button>

        <select class="graph-dropdown" id="position-grouped-dropdown">
            {% for value in grouped_position_avg.values %}
                <option value="{{value.0}}">{{value.0}}</option>
            {% endfor %}
        </select>
    {% endif %}
</div>

<!-- Room Points (Legacy) -->
<div class="table-title">
    <h3 class="inline-h3">Room points</h3>
</div>

<div class="speaks-table-body-anlsis">
    {% if room_points_avg is not None %}
        <table class="speaks-table">
            <tr>
                <th>Points</th>
                <th>No.</th>
                <th>Spk.</th>
                <th>Pts.</th>
            </tr>
            {% for value in room_points_avg.values %}
            <tr class="data-row">
                {% for item in value %}
                    <td>{{item}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <div class="graph-box" id="speaker-points-bar">
            <canvas id="room_points_chart"></canvas>
        </div>

        <div class="graph-box-scatter" id="speaker-points-scatter">
            <canvas id="room_points_scatter"></canvas>
        </div>
    {% else %}
        <div class="no-data">
            <h3>No data to show</h3>
        </div>
    {% endif %}

    <div class="clear-float"></div>
</div>
<div class="change-graph-box">
    {% if room_points_avg is not None %}
        <button class="change-graph-button" onclick="togleGraph('speaker-points-bar','speaker-points-scatter','room-points-dropdown')">
            show vs time
        </button>

        <select class="graph-dropdown" id="room-points-dropdown">
            {% for value in room_points_avg.values %}
                <option value="{{value.0}}">{{value.0}}</option>
            {% endfor %}
        </select>
    {% endif %}
</div>

<!-- Partner -->
<div class="table-title">
    <h3 class="inline-h3">Partner</h3>
</div>

<div class="speaks-table-body-anlsis">
    {% if partner_avg is not None %}
        <table class="speaks-table">
            <tr>
                <th>Partner</th>
                <th>No.</th>
                <th>Spk.</th>
                <th>Pts.</th>
            </tr>
            {% for value in partner_avg.values %}
            <tr class="data-row">
                {% for item in value %}
                    <td>{{item}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <div class="graph-box" id="speaker-partner-bar">
            <canvas id="partner_chart"></canvas>
        </div>

        <div class="graph-box-scatter" id="speaker-partner-scatter">
            <canvas id="partner_scatter"></canvas>
        </div>
    {% else %}
        <div class="no-data">
            <h3>No data to show</h3>
        </div>
    {% endif %}

    <div class="clear-float"></div>
</div>
<div class="change-graph-box">
    {% if partner_avg is not None %}
        <button class="change-graph-button" onclick="togleGraph('speaker-partner-bar','speaker-partner-scatter','partner-dropdown')">
            show vs time
        </button>

        <select class="graph-dropdown" id="partner-dropdown" multiple>
            {% for value in partner_avg.values %}
                <option value="{{value.0}}">{{value.0}}</option>
            {% endfor %}
        </select>
    {% endif %}
</div>

<!-- Motion Type -->
<div class="table-title">
    <h3 class="inline-h3">Motion type</h3>
</div>

<div class="speaks-table-body-anlsis">
    {% if motion_avg is not None %}
        <table class="speaks-table">
            <tr>
                <th>Motion type</th>
                <th>No.</th>
                <th>Spk.</th>
                <th>Pts.</th>
            </tr>
            {% for value in motion_avg.values %}
            <tr class="data-row">
                {% for item in value %}
                    <td>{{item}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <div class="graph-box" id="speaker-type-bar">
            <canvas id="motion_chart"></canvas>
        </div>

        <div class="graph-box-scatter" id="speaker-type-scatter">
            <canvas id="motion_scatter"></canvas>
        </div>
    {% else %}
        <div class="no-data">
            <h3>No data to show</h3>
        </div>
    {% endif %}

    <div class="clear-float"></div>
</div>
<div class="change-graph-box">
    {% if motion_avg is not None %}
        <button class="change-graph-button" onclick="togleGraph('speaker-type-bar','speaker-type-scatter','motion-type-dropdown')">
            show vs time
        </button>

        <select class="graph-dropdown" id="motion-type-dropdown">
            {% for value in motion_avg.values %}
                <option value="{{value.0}}">{{value.0}}</option>
            {% endfor %}
        </select>
    {% endif %}
</div>

{% endblock %}

