{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>

        {% block header %}
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="{% static 'jarvascript/burger_menu.js' %}" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    </head>

    <body>
        
        <header>
            <div class="name">
                <a href="{% url 'trakerhome' %}">
                    <h1>POI</h1>
                </a>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/speakstracker/">Speaks tracker</a></li>

                    {% if user.is_authenticated %}
                        <li><a href="/speakstracker/enterspeaks/">Enter speaks</a></li>
                        <li><a href="/speakstracker/speakstable/">Speaks data</a></li>
                        <li><a href="/speakstracker/speaksanalysis/static/">Static</a></li>
                        <li><a href="/speakstracker/speaksanalysis/dynamic/">Dynamic</a></li>
                    {% endif %}

                </ul>
            </div>
            <div class="dropdown">
                <a class="burger-click" onclick="burgerDropdown()">
                    <span class="burger-span">
                        <i class="burger-icon" data-feather="menu"></i>
                    </span> 
                </a>
            </div>
            <div class="log-in-link">
                <ul>
                    {% if not user.is_authenticated %}
                        <li class="right-align"><a href="/speakstracker/login">Log in</a></li>
                    {% else %}
                        <li class="right-align"><a href="/speakstracker/logout">Log out</a></li>
                    {% endif %}

                </ul>
            </div>
            <div class="drop-contents">
                <a href="/speakstracker/">Speaks tracker</a>

                {% if user.is_authenticated %}
                    <a href="/speakstracker/enterspeaks/">Enter speaks</a>
                    <a href="/speakstracker/speakstable/">Speaks data</a>
                    <a href="/speakstracker/speaksanalysis/static/">Static</a>
                    <a href="/speakstracker/speaksanalysis/dynamic/">Dynamic</a>
                    <a href="/speakstracker/logout">Log out</a>
                {% else %}
                    <a href="/speakstracker/login">Log in</a>
                {% endif %}
            </div>
        </header>

        {% block content %}

        {% endblock %}

        <script>
            feather.replace()
        </script>

    </body>
</html>